.advantages__item {
  list-style-type: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-align: center;

  &--gray {
    background-color: #eeeeee;
    color: #000000;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}
.advantages__number {
  font-size: 14px;
  line-height: 21px;
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}
