.advantages__item {
  list-style-type: none;
  color: @white-color;
  background-color: @blue-color;
  text-transform: uppercase;
  text-align: center;

  &--gray {
    background-color: @gray-color;
    color: @black-color;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}
.advantages__number {
  font-size: 14px;
  line-height: 21px;
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}
