.features {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 42px;
  padding-left: 70px;
  list-style: none;
}

.features__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.features__description {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.features__item {
  position: relative;
}

.features__icon {
  position: absolute;
  top: -11px;
  left: -55px;
}

@media (min-width: @tablet-width) {
  .features {
    padding: 32px 0 65px 0;
    display: flex;
  }

  .features__title {
    text-align: center;
  }

  .features__description {
    padding: 0 20px 30px 50px;
  }

  .features__item {
    &--food {
      order: 1;
    }

    &--souvenirs {
      order: 2;
    }
  }
}

@media (min-width: @desktop-width) {
  .features__description {
    padding: 0 70px 30px 70px;
  }
}
