.gallery__wrapper {
  width: 320px;
  margin: 0 auto;
}

.gallery__list {
  list-style-type: none;
}

.post__photo-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: @black-color;
}

.post__author {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: @light-gray-color;
}

.post__like-value {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @black-color;
}

@media (min-width: @tablet-width) {
  .gallery__wrapper {
    width: 680px;
  }

  .gallery__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    &:first-child {
      width: 648px;
    }
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper {
    width: 1160px;
  }

  .gallery__item {
    &:first-child {
      width: 1190px;
    }
    width: 385px;
  }
}
