.interested__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.interested__discription {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
