.page-footer {
  & a {
    color: #000000;
  }
  text-align: center;
}

.page-footer__tag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

}

.social__list {
  list-style-type: none;
}
