.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-footer__tag {
  margin-top: 31px;
  margin-left: 91px;
  margin-bottom: 38px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-color;
}

.page-footer__copyright {
  display: flex;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    margin-top: 50px;
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
  }

  .page-footer__tag {
    margin-left: 60px;
  }

  .page-footer__copyright {
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
  }
}
