.post__photo-name {
  margin: 0;
  padding: 22px 20px 0 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: @black-color;
}

.post__author {
  margin: 0;
  padding: 0 20px 12px 0;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: @light-gray-color;
}

.post__counter {
  display: flex;
}

.post__like {
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.post__like-value {
  margin: 0;
  padding: 4px 20px 23px 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @black-color;
}

@media (min-width: @tablet-width) {
  .post__post {
    display: flex;
    justify-content: space-between;
  }


  .post__photo-name {
    padding: 22px 20px 0 20px;
  }

  .post__author {
    padding: 0 20px 22px 20px;
  }

  .post__like-value {
    padding: 35px 21px 12px 10px;
  }

  .post__like {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .post__post {
    position: relative;
    margin-top: -98px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .post__photo-name {
    color: @white-color;
  }

  .post__author {
    color: @white-color;
  }

  .post__like {
    fill: @white-color;
    opacity: 1;
  }

  .post__like-value {
    color: @white-color;
  }
}
