.video__wrapper {
  width: 320px;
  margin: 0 auto;
}

.video__header {
  margin: 0;
  padding: 40px 40px 0 40px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video__content {
  margin: 0;
  padding: 20px 40px 40px 40px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @light-gray-color;
}

.video__controls {
  margin-top: -50px;
}

.video__control-slider {
  position: relative;
  padding: 20px 22px;
  padding-top: 22px;
  height: 3px;
  width: 234px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__control-slider-line {
  height: 3px;
  background-color: rgba(225, 225, 255, 0.3);
  cursor: pointer;
}

.video__control-slider-toggle {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  left: 58px;
  margin-top: -3px;
  border-radius: 5px;
  background-color: @white-color;
  cursor: pointer;
}

.video__player-buttons {
  position: relative;
  width: 238px;
  padding: 20px;
  margin-left: 20px;
  background-color: @white-gray-color;
}

.video__button {
  border: none;
  fill: @gray-button;
  background-color: @white-gray-color;
  cursor: pointer;

  &:hover {
    fill: @black-color;
  }

  &:active {
    fill: @black-color;
    opacity: 0.3;
  }

  &--fullscreen {
    position: absolute;
    right: 15px;
  }

  &--subtitles {
    position: absolute;
    right: 65px;
  }
}

@media (min-width: @tablet-width) {
  .video__wrapper {
    width: 768px;
  }

  .video__header {
    font-size: 30px;
    line-height: 26px;
  }

  .video__content {
    padding: 30px 177px 78px 177px;
  }

  .video__player {
    padding-left: 60px;
  }

  .video__controls {
    margin-top: -99px;
  }

  .video__control-slider {
    margin: 0;
    width: 388px;
    padding: 45px 93px;
    padding-right: 167px;
  }

  .video__control-slider-toggle {
    top: 45px;
    left: 205px;
  }

  .video__player-buttons {
    width: 565px;
    margin-top: -76px;
    background-color: transparent;
  }

  .video__button {
    fill: @white-color;
    background-color: transparent;

    &:hover {
      fill: @white-color;
      opacity: 0.6;
    }

    &:active {
      fill: @white-color;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .video__wrapper {
    width: 1200px;
  }

  .video__player {
    padding-left: 199px;
  }

  .video__control-slider {
    width: 540px;
  }

  .video__player-buttons {
    width: 711px;
  }
}
