.welcome__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.welcome__intro {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
