.welcome__wrapper {
  width: 318px;
  margin: 0 auto;
  margin-top: -32px;
}

.welcome__image {
  width: 100%;
  height: 390px;
  background-color: @white-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }
}

.welcome__image-logo {
  width: 281px;
  height: 214px;
  margin-top: 90px;
  margin-left: 20px;
  margin-bottom: 54px;
}

.welcome__image-triangle {
  width: 320px;
  height: 26px;
}

.welcome__title {
  margin: 0;
  padding: 45px 20px 30px 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @light-gray-color;
  text-align: center;
  text-transform: uppercase;
}

.welcome__intro {
  margin: 0;
  padding: 0 20px 0 20px;
  font-size: 14px;
  line-height: 26px;
  color: @light-gray-color;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .welcome__wrapper {
    width: 768px;
    margin: 0 auto;
    margin-top: -27px;
  }

  .welcome__image {
    width: 100%;
    height: 518px;
    background-color: @white-color;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .welcome__image-logo {
    width: 460px;
    height: 350px;
    margin-top: 77px;
    margin-left: 154px;
    margin-bottom: 28px;
  }

  .welcome__image-triangle {
    width: 768px;
    height: 57px;
  }

  .welcome__title {
    font-size: 21px;
    padding: 51px 139px 25px 139px;
  }

  .welcome__intro {
    padding: 0 20px 55px 20px;
  }
}

@media (min-width: @desktop-width) {
  .welcome__wrapper {
    width: 1200px;
  }

  .welcome__image {
    width: 100%;
    height: 518px;
    background-color: @white-color;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .welcome__image-logo {
    margin-left: 351px;
  }

  .welcome__image-triangle {
    width: 1200px;
    height: 57px;
  }

  .welcome__title {
    padding: 51px 355px 25px 355px;
  }

  .welcome__intro {
    padding: 0 330px 55px 330px;
  }
}
